.container{
    width: 19rem;
    border-radius: 10px;
    background-color: white;
    padding: 22px;
}
.container .circle {
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-color: rgb(252, 164, 1) rgb(4, 4, 66)  rgb(4, 4, 66) rgb(252, 164, 1);
    background-clip: content-box;
    font-weight: bolder;
    text-align: center;
    font-size: x-large;
    padding-top:48px ;
    margin-left: 20%;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .container h2{
    font-size: small;
    font-weight: bold;
    margin-right: 52px;
    margin-top: 5px;
  }
   