.si-container1{
    
    border-radius: 15px;
    background-color:white;
    padding: 52px; 
    border-color: #cfd3d4; 
    box-shadow: 1px 3px  #c9c1c1;
}
.si-container1 .si-circle {
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-color: rgb(252, 164, 1) rgb(4, 4, 66)  rgb(4, 4, 66) rgb(252, 164, 1);
    background-clip: content-box;
    font-weight: bolder;
    text-align: center;
    font-size: x-large;
    padding-top:48px ;
    margin-left: 30%;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .si-container1 h1{
    font-size: small;
    font-weight: bold;
    margin-right: 100px;
    margin-top: 5px;
  }
   
