.si-profWith{
    width: 41.5rem;
    height: 62.875rem;
    margin-top: 7.375rem;
    margin-left: 43rem;
    
}
.si-profTotal{
    width: 27.938rem;
    height: 22.25rem;
    margin-top: -22.25rem;
    margin-left: 86.063rem;
    
}