/* start global rules */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
  }
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
